@font-face {
    font-family: Fb Tubic bold;
    src: url(../setup/fonts/FbTubic/FbTubic-SansEng-Bold.otf);
}


@font-face {
    font-family: Fb Tubic regular;
    src: url(../setup/fonts/FbTubic/FbTubic-SansEng-Regular.otf);
}


@font-face {
    font-family: Fb Tubic light;
    src: url(../setup/fonts/FbTubic/FbTubic-SansEng-Light.otf);
}


@font-face {
    font-family: basis italic light con;
    src: url(../setup/fonts/FbBasisEng/FbBasisEng-ItalicLightCondensed.otf);
}



@font-face {
    font-family: basis italic extra light con;
    src: url(../setup/fonts/FbBasisEng/FbBasisEng-ItalicExtraLightCondensed.otf);
}