.bags-container {
margin-bottom: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

h2 {
    margin-bottom: 17.024px;
    padding: 10px 10px ;
    background-color: $greenLowHue;
}

    ul {
width: 40%;

        li {
            margin: 10px 10px;
            list-style: none;
           
        }

    }

}